$light-green: #659c83;
$main-dark-blue: #243a6f;
$grey: #444;
$whiteFont: #fff;

//container
$containerBoxShadow: rgba(0, 0, 0, 0.25);

//panel
$panelBackgroundColor: #21a3f6;

//input
$inputFontColor: #333;
$inputBackgroundColor: #f0f0f0;
$inputPlaceholderFontColor: #aaa;
$inputPlaceholderIconColor: #acacac;

$inputErrorBackground: #fff8f8;
$inputErrorBorderColor: #d50000;
$inputErrorFontColor: #d50000;
$inputErrorPlaceholderFontColor: #e47373;

//button
$buttonBackgroundColor: #5995fd;
$buttonBackgroundHooverColor: #4d84e2;
$buttonFontColor: #fff;

//logo icon
$logoIconColor: #e47373;
$logoTextColor: #f0f0f0cc;

//footer
$footerBackgroundColor: #06283d;
$footerFontColor: rgba(240, 240, 240, 0.8);

//navigation
$navBackgroundColor: #21a3f6;
$navBoxShadowColor: rgba(31, 38, 135, 0.37);
$navFontColor: #fff;
$navHooverBgColor:rgb(80, 80, 238);
$navHooverBgColorMob: rgba(255, 255, 255, 0.25);



