$light-green: #659c83;
$main-dark-blue: #243a6f;
$grey: #444;
$whiteFont: #fff;
$blackMain: #000000;

//container
$containerBoxShadow: rgba(0, 0, 0, 0.25);

//panel
$panelBackgroundColor: #21a3f6;
$panelShadow: #00000040;
$panelFontPanel: #fff;
$panelBtnBackgoundColor: #5995fd;
$panelBtnBackgoundColorHover: #4d84e2;
$panelBtnBorderColor: #fff;

//input
$inputFontColor: #333;
$inputBackgroundColor: #f0f0f0;
$inputPlaceholderFontColor: #aaa;
$inputPlaceholderIconColor: #acacac;

$inputErrorBackground: #fff8f8;
$inputErrorBorderColor: #d50000;
$inputErrorFontColor: #d50000;
$inputErrorPlaceholderFontColor: #e47373;

//button
$buttonBackgroundColor: #5995fd;
$buttonBackgroundHooverColor: #4d84e2;
$buttonFontColor: #fff;

//select
$selectBorderColor: #777;
$selectFocusBorderColor: #00aaff;
$selectFontColor: #777;
$selectFontHoverColor: #333;
$selectBackgroundColor: #ffffff;

//logo icon
$logoIconColor: #e47373;
$logoTextColor: #f0f0f0cc;

//footer
$footerBackgroundColor: #06283d;
$footerFontColor: #f0f0f0cc;

//navigation
$navBackgroundColor: #21a3f6;
$navBoxShadowColor: #1f26875e;
$navFontColor: #fff;
$navHooverBgColor:#5050ee;
$navHooverBgColorMob: #ffffff40;

// Form
$formLabelBackgroundColor: #3c4856;
$formBlack: $blackMain;
$formTextBackgroundColor: #e6f4f1;



