@import "../../abstracts/index";

.container {
        position: relative;
        min-height: 1.5em;
        border: 0.05em solid $selectBorderColor;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        outline: none;

        &:focus {
                border-color: $selectFocusBorderColor;
        }
}

.value {
        flex-grow: 1;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
}

.clear-btn {
        background: none;
        color: $selectFontColor;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        font-size: 1.25em;
}

.clear-btn:focus,
.clear-btn:hover {
        color: $selectFontHoverColor;
}

.divider {
        background-color: $selectBorderColor;
        align-self: stretch;
        width: 0.05rem;
}

.caret {
        translate: 0 25%;
        border: 0.25em solid transparent;
        border-top-color: $selectBorderColor;
}

.options {
        position: absolute;
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 15em;
        overflow-y: auto;
        border: 0.05em solid $selectBorderColor;
        border-radius: 0.25em;
        width: 100%;
        left: 0;
        top: calc(100% + 0.25em);
        background-color: $selectBackgroundColor;
        z-index: 100;
        display: none;
}

.options.show {
        display: block;
}

.option {
        padding: 0.25em 0.5em;
        cursor: pointer;
}

.option.selected {
        background-color: #66ccff;
}

.option.highlighted {
        background-color: $selectFocusBorderColor;
        color: $selectBackgroundColor;
}

.option-badge {
        display: flex;
        align-items: center;
        border: 0.05em solid $selectBorderColor;
        border-radius: 0.25em;
        padding: 0.15em 0.25em;
        gap: 0.25em;
        cursor: pointer;
        background: none;
        outline: none;
}

.option-badge:hover,
.option-badge:focus {
        background-color: #ffcccc;
        border-color: #ff0000;
}

.option-badge:hover > .remove-btn,
.option-badge:focus > .remove-btn {
        border-color: #ff0000;
}

.option-badge > .remove-btn {
        font-size: 1.25em;
        color: $selectFontColor;
}
