@import "../../../abstracts/index";

.container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.lds-dual-ring {
        display: inline-block;
        width: 180px;
        height: 180px;
        margin: 8px;
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 164px;
        height: 164px;
        border-radius: 50%;
        border: 10px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.9s linear infinite;
      }
      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

@media only screen and (max-width: 639.98px) {

}
