@import "../../abstracts/index";

.container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 5ppx;
}

.content {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
}

.page-heading {
        font-size: 1.5rem;
}

.content-heading {
        font-size: 1.1rem;
}

.form {
        &__data {
                display: grid;
                grid-template-columns: minmax(max-content, 100px) 1fr;
                grid-template-rows: repeat(2, 1fr);
                border: 1px solid $formBlack;
        }

        &__label {
                padding: 8px;
                color: $whiteFont;
                background-color: $formLabelBackgroundColor;
                border: 1px solid $formBlack;
        }

        &__value {
                padding: 8px;
                border: 1px solid $formBlack;
                word-break: break-all;
        }
}

.information {
        font-size: 0.8rem;
}