.form-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        transition: 1s 0.7s ease-in-out;
}

.form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5rem;
        overflow: hidden;
        transition: all 0.2s 0.7s;
}