@import "../../abstracts/index";

.container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 5px;
}

.form-container {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
}

.form {
        &__data {
                display: grid;
                grid-template-columns: minmax(max-content, 100px) 1fr;
                grid-template-rows: repeat(3, 1fr);
                border: 1px solid $formBlack;
        }

        &__label {
                padding: 8px;
                color: $whiteFont;
                background-color: $formLabelBackgroundColor;
                border: 1px solid $formBlack;
        }

        &__value {
                padding: 8px;
                border: 1px solid $formBlack;
                word-break: break-all;
        }
}

.buttons-container {
        display: flex;
        gap: 1rem;
}

.error {
        color: $inputErrorFontColor;
        margin: 0.2rem;
        &--non {
                display: none;
        }
}
