.social-text {
        padding: 0.7rem 0;
        font-size: 1rem;
        text-align: center;
}

.social-media {
        display: flex;
        justify-content: center;
}

.social-icon {
        height: 46px;
        width: 46px;
        border: 1px solid #333;
        margin: 0 0.45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        border-radius: 50%;
        transition: 0.3s;
        color: #333;
        text-decoration: none;
}

.social-icon:hover {
        color: #4481eb;
        border-color: #4481eb;
}

.google-icon {
        height: 2rem;
}

.social {
        &__heading {
                padding: 0.7rem 0;
                font-size: 1rem;
                text-align: center;
        }

        &__link {
                display: flex;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-family: inherit;
             
                font-weight: 500;
                color: #fff;
                background-color: #5995fd;
                padding: 0.9rem 1.8rem;

                border-radius: 5px;
        }

        &__text {
                margin-left: 5px;
        }
}
.google-img {
        height: 2rem;
        width: auto;
}
