.social-text {
        padding: 0.7rem 0;
        font-size: 1rem;
        text-align: center;
}

.social-media {
        display: flex;
        justify-content: center;
}

.social-icon {
        height: 46px;
        width: 46px;
        border: 1px solid #333;
        margin: 0 0.45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        border-radius: 50%;
        transition: 0.3s;
        color: #333;
        text-decoration: none;
}

.social-icon:hover {
        color: #4481eb;
        border-color: #4481eb;
}