<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Dear Sirs,</p>
        <p>A request has been received to change the password for your AuthSystem account.</p>
        <p> Please, click the link below to reset your password</p>
        <a href={{link}}>Change Password</a>
        <p>If you did not initiate this request, please contact us immediately.</p>
        <p>Regrds,</p>
        <p>AuthSystem Team</p>
    </body>
</html>